__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
.eggs/
.mypy_cache/
.hypothesis/
.pytest_cache/
.coverage
htmlcov/
*.log
.env
.alembic.ini
migrations/versions/*.py.bak
